body{
    margin: 0;
    font-family: Arial, sans-serif;
}
header, footer{
    background-color: red;
    text-align: center;
    padding: 10px;
}
nav{
    background-color: blue;
    text-align: center;
    padding: 10px;
}
.container{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
}
aside{
    background-color: green;
    padding: 10px;
}
section{
    background-color: #09ff00;
    padding: 10px;
}
article{
    background-color: rgb(0, 255, 234);
    padding: 10px;
}